/.DS_Store
/Age calculation
/Blog Card
/FAQs
/Intro section
/Netfllix Clone
/Recipe page
/Sign-up form
/Tic Tac Toe Game
/clone.css
/clone.html
/clone.js
/first.html
/introsection
/myTTT.css
/myTTT.html
/myTTT.js
/practice.py
/test.js
/weather